# ===================================================================
# tpDcc-core requirements file
# ===================================================================
metayaml
tpDcc-libs-python
tpDcc-libs-plugin
