# ===================================================================
# tpDcc-core requirements file
# ===================================================================
Qt.py
metayaml
tpDcc-config
tpDcc-libs-python