# ===================================================================
# tpDcc-core requirements file
# ===================================================================
tpDcc-config
tpDcc-libs-python